.navbar {
  background-color: #154c79;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #154c79;
}

#About {
  background-color: #ffffff;
  text-decoration: none;
}

#event {
  background-color: #154c79;
}

#contact {
  background-color: #ffffff;
}

section {
  padding-top: 5rem;
}

section a {
  text-decoration: none;
}

jumbotron text-center a {
  text-decoration: none;
}


.button-wrapper {
  text-align: center;
}

.button-wrapper button {

  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.equal-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card {
  border-radius: 20px;
}

.card-img-top {
  border-radius: 25px;
}

.huy {
  margin-left: -200px;
}